{% extends "layout.html" %}
{% block content %}

      <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
              {{ message }}
          </div>
          {% endfor %}
          {% endif %}

          {% endwith %}


      </div>
      <div class="card">
        {% for post in posts %}
        
      <div class="card-header">
        <h2>{{ post.title }}</h2>
        <img class="rounded-circle" src="{{ url_for('static', filename='profile pictures/' + post.author.image_file) }}">
        
     
      </div>
      <div class="card-body">
        <h4 class="card-title">{{ post.content }}</h4> 
        <p>By {{ post.author.username }} on {{ post.date_posted }}</p>
        <a class="mr-2" href="{{ url_for('main.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
        </div>
    

   
      </div>
    


        {% endfor %}
       </div>
         
     
{% endblock content %}