{% extends "layout.html" %}
{% block content %}

{% for post in posts %}
    <div class="card">
      <div class="card-header">
        <h2>{{ post.title }}</h2>
        <img class="rounded-circle" src="{{ url_for('static', filename='profile_pictures/' + post.author.image_file) }}">

      </div>
      <div class="card-body">
        <h4 class="card-title">{{ post.content }}</h4>  
        <small class="card-text">By {{ post.author.username }} on {{post.date_posted.strftime('%Y-%m-%d') }}</small>
      </div>
    </div>
    {% endfor %}
{% endblock content %}