{% extends "base.html" %}

{% block content%}
   
    <div>
        <h3>Comments for {{post.title | upper }}</h3>
        <a href="{{url_for('main.comment',uname = current_user.username, post_id = post.id)}}"><button class="btn btn-info mr-0">Add a Comment</button></a>


    </div>

        {% if comments %}
            {%for comment in comments%}
            <div class="row">
                <div class="col-xs-1 col-md-1 col-lg-1">
                  
                </div>
                <p>{{comment.content}} "</p>
                 
                </div>
    
            {% endfor %}
        {% else %}
        <h2>There are no comments</h2>
        {% endif %}

    </div>

{% endblock %}