{% extends "layout.html" %}
{% block content %}
<h1 class="mb-3">Posts by {{ user.username }} ({{ posts.total }}</h1>

{% for post in posts %}
    <div class="card">
      <div class="card-header">
        <h2>{{ post.title }}</h2>
        <img class="rounded-circle" src="{{ url_for('static', filename='profile_pictures/' + post.author.image_file) }}">
        <a class="mr-2" href="{{ url_for('main.user_posts, username=post.author.username) }}" class="card-text">By {{ post.author.username }} on {{post.date_posted }}</a>
      </div>
      <div class="card-body">
        <h4 class="card-title">{{ post.content }}</h4>  
       
      </div>
    </div>
   {% endfor %}
    
{% endblock content %}